---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <div
    class="h-screen flex flex-col justify-center items-center text-center gap-7 text-gray-600 font-mono"
  >
    <h1 class="text-2xl">Blog</h1>
    <p class="text-lg mt-2 text-gray-500">This is a quick blog to test Astro</p>
    <a
      href="/posts/"
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
      >See posts ➡️</a
    >
  </div>
</Layout>
