---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <main>
    <h1>Blog</h1>
    <p>This is a quick blog to test Astro</p>
  </main>
</Layout>

<style>
  main {
    padding: 1rem;
  }
</style>
