---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
const active = "text-green-400";
const hover = "hover:text-green-400";
---

<div class="flex align-middle justify-between p-10">
  <a href="/" class={currentPath == "" ? active : "" + hover}>Home</a>
  <nav>
    <ul class="flex gap-16">
      <li>
        <a href="/posts/" class={currentPath == "posts" ? active : "" + hover}
          >Posts</a
        >
      </li>
      <li>
        <a href="/about/" class={currentPath == "about" ? active : "" + hover}
          >About</a
        >
      </li>
    </ul>
  </nav>
</div>

<style is:global>
  body {
    padding: 15px;
    background-color: #e5e7eb;
  }
</style>
